<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
   table {
      margin : auto;
      width : 600px;
   }
   td.ftd {
      border-right : 1px solid gray;
   }
</style>
</head>
<body>
</body>
<footer>
<br>
   <hr>
   <table>
      <tr align="center"><td class="ftd">이용약관</td><td class="ftd">윤지노</td><td class="ftd">빈지노</td><td class="ftd">전병걸</td><td class="ftd">부석호</td><td>노희준</td></tr>
   </table>
</footer>
</html>